*{
  margin: 0%;
}

body{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto;
  grid-template-areas:"nav"
                      "";
}


nav{
  background-color: rgb(48, 48, 41);
  position: fixed;
  display: grid;
  grid-area: nav;
  align-items: center;
  text-align: center;
  column-gap: 500vw;
  padding: 1vw;
  position: fixed;
  width: 100%;
}


.space{
  padding-right: 45vw;
  margin-left: -5vw;
} 

nav>ul>li>a{
  margin-left: 5vw;
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
}

nav>ul>li{
  list-style-type: none;
}

.newsletter{
  display: grid;
  text-align: center;
  margin: 15vw 10vw 10vw 10vw;;
  font-size: 2vw;
  font-family: 'Oswald', sans-serif;
}

.form{
  margin: 5vw;
  text-align: center;
  grid-area: ;
}