
*{
  margin: 0%;
}

/* navbar */
.nav-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:"nav";
}


nav {
  background-color: rgb(48, 48, 41);
  display: grid;
  grid-area: nav;
  align-items: center;
  text-align: center;
  column-gap: 500vw;
  padding: 1vw;
  position: fixed;
  width: 100%;
}


.space{
  padding-right: 45vw;
  margin-left: -5vw;
} 

nav>ul>li>a{
  margin-left: 5vw;
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
}

nav>ul>li{
  list-style-type: none;
}

/* portfolio */

.grid{
  display: grid;
  grid-template-columns: auto auto;
  margin: 3vw 0vw 0vw 0vw;
  padding: 5vw;
  column-gap: 5vw;
  row-gap: 5vw;
}

.item{
  display: grid;
  background-color: rgb(43, 38, 38);
  text-align: center;
  align-items: center;
  height: 36vw;
  color: aliceblue;
  
}