*{
  margin: 0%;
}

body{
  display: grid;
  grid-template-columns:;
  grid-template-rows: auto;
  grid-template-areas:"";
}


nav {
  background-color: rgb(48, 48, 41);
  display: grid;
  grid-area: nav;
  align-items: center;
  text-align: center;
  column-gap: 500vw;
  padding: 1vw;
  position: fixed;
  width: 100%;
}


.space{
  padding-right: 45vw;
  margin-left: -5vw;
} 

nav>ul>li>a{
  margin-left: 5vw;
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
}

nav>ul>li{
  list-style-type: none;
}

.report{
  margin: 7vw 5vw 5vw 5vw;
  font-family: 'Yantramanav', sans-serif;
}


.images{
  width: 500px;
  height: 500px;
}