*{
  margin: 0%;
}

body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:"nav nav"
                      "welcome welcome"
                      "image bio";
}


nav {
  background-color: rgb(48, 48, 41);
  display: grid;
  grid-area: nav;
  align-items: center;
  text-align: center;
  column-gap: 500vw;
  padding: 1vw;
}


.space{
  padding-right: 45vw;
  margin-left: -5vw;
} 

nav>ul>li>a{
  margin-left: 5vw;
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
}

nav>ul>li{
  list-style-type: none;
}

.welcome{
  display: grid;
  grid-area: welcome;
  text-align: center;
  margin: 10vw;
  font-size: 2vw;
  font-family: 'Oswald', sans-serif;
}

.image{
  display: grid;
  grid-area: image;
  margin: 5vw 0vw 5vw 5vw;
}

.bio{
 display: grid;
 grid-area: bio;
 margin: 5vw 5vw 5vw 0vw;
 font-size: 1.5vw;
}


